.new-music-1{
    background-image:url("/assets/green_valley.jpg"); 
    height: 1300px;
    color:white;  
}
.new-music-2{
    background-image:url("/assets/extremo_div_2.jpg"); 
    height: 1300px;
    color:white;  
}
.new-music-3{
    background-image:url("/assets/green_valley.jpg"); 
    height: 1000px;
    color:white;  
}
.text{
    float: right;
    margin-right: 400px;
    margin-top: 200px;
}

.green-valley-iframe {
    // position: absolute;
    bottom: 10px;
    right: 10px;
}
.extremoduro-iframe {
    position: absolute;
    left: 90px;
    margin-top: 50px;
}