.first-div{
    text-align: center;
    background-color: #F2F4F4;
}






.new-music-1{
    background-image:url("/assets/green_valley.jpg"); 
    height: 1300px;
    color:white;  
}
.new-music-2{
    background-image:url("/assets/extremo_div_2.jpg"); 
    height: 1300px;
    color:white;  
}

.green-valley-iframe {
    position: absolute;
    margin-top:50px; 
    right: 110px;
}
.extremoduro-iframe {
    position: absolute;
    left: 90px;
    margin-top: 50px;
}


/* Footer */
.footer { 
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
  }
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  .fa {
    padding: 20px;
    font-size: 40px;
    width: 80px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  
  .fa-instagram {
    background: #125688;
    color: white;
  }
  .datos{
    text-align: center;
  }